*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.properties{
background-color: #4FBFA5;
display: flex;
justify-content: space-around;
width:1920px;
height: 700px;
top:90px ;
left:-3px;
text-decoration: none;
}