.product_item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_item div {
  padding: 20px;
}
  
  .product_item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  
  .product_item p {
    text-align: center;
  }

  .product_item a{
    text-decoration: none;
    color: black;
  }
  
  .add_btn {   
    position:absolute;
    bottom:0;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 5px;
    /* visibility: hidden; */
  }

  .product_item:hover .add_btn{
    visibility: visible;
  }

