*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

div{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
}


.hobby img{
    width: 200px;
    height: 250px;
}

.hobby{
    background-color: skyblue;
    color: rgb(199, 58, 7);
    font-style: oblique;
}

.studies{
    background-color: rgb(167, 4, 173);
    color: rgb(186, 229, 13);
    font-style: italic;
}

.studies img{
    width: 200px;
    height: 250px;
}

.residence{
    background-color: rgb(208, 57, 57);
    color: yellowgreen;
    font-family: fantasy;
}

.residence img{
    width: 200px;
    height: 250px;
}

.socmedia {
    text-align: center;
}

.logo{
    width: 25px;
    height: 25px
}

.socmedia a{
    text-decoration: none;
}

a{
    text-decoration: none;
}