
.product_card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
}

div p:first-of-type{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#3A3A3A;
    text-align: left;
    margin: 10px;
}

div p:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:#3A3A3A;
    text-align: left;
}

.div p:last-of-type{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #8B8B8B;
    text-decoration: line-through;
}

.product_card div {
    border: 2px solid green;
    background-color: #F1FFF1;
    color: green;
    border-radius: 21px;
    width: 150px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 8%;
    display: none;
  }

  .product_card:hover div{
    display: block;
  }





