*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block0{
    width: 30vw;
    max-height: 100%;
    padding: 2px 5px;
    margin: 4px;
    min-width: 30vw;
    box-shadow: 1px 1px 10px 2px;
    float: left;
    
}
.block1{
    width: 30%;
    height: 100%;
    background-image: url(https://st2.depositphotos.com/3169507/8300/v/600/depositphotos_83004586-stock-illustration-abstract-lace-decorative-pattern.jpg);
    background-size: contain;
    position: absolute;
    right:1px;
}