.add_team_form {
    border: 3px solid green;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: 30px auto;
  
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .add_team_form button {
    background-color: green;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 0;
  }