.nav_menu {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    padding: 20px;
  }
  
  .nav_menu a {
    color: white;
    text-decoration: none;
  }